<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    </style>
</head>

<body>
    <header>
        <h1 class="title">JR.Software Engineer</h1>
        <h2 class="name">Paul Alejandro Ochoa Meza</h2>
    </header>

    <nav>
        <a href="#about">Sobre mí</a>
        <a href="#skills">Habilidades</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>

    <section id="about">
        <h2>Sobre mí</h2>
        <p class="about-me">Hi there! I'm Paul Alejandro Ochoa Meza a software engineer with 1+ year of experience building full stack applications from scratch.
           Though I'm a recent graduate, I have a strong foundation in computer science and software engineering principles.I've collaborated with
            cross-functional teams to define, design, and ship new features. I'm passionate about learning new technologies and building software solutions
            that make a positive impact on people's lives. I'm currently seeking a full-time software engineering role where I can continue to grow as a developer.
        </p>
    </section>

    <section id="skills">
        <h2>Habilidades</h2>
        <div class="skills">
            <div class="skill">
                <h3>Frontend</h3>
                <p>Angular, TypeScript, HTML, CSS, JavaScript</p>
            </div>
            <div class="skill">
                <h3>Backend</h3>
                <p>Node.js, Express, MongoDB, SQL, Docker</p>
            </div>
            <div class="skill">
                <h3>DevOps</h3>
                <p>Docker, Kubernetes, CI/CD</p>
            </div>
            <div class="skill">
                <h3>Otros</h3>
                <p>Git, Agile, REST APIs</p>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2>Proyectos</h2>
        <div class="projects">
            <div class="project">
                <h3>Proyecto 1</h3>
                <p>Descripción breve de un proyecto destacable que has realizado, con tecnologías utilizadas.</p>
            </div>
            <div class="project">
                <h3>Proyecto 2</h3>
                <p>Descripción breve de otro proyecto destacable.</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2>Contacto</h2>
        <p>Puedes contactarme a través de mi correo electrónico: <a href="mailto:paalochoame@ittepic.edu.mx">paalochoame&#64;ittepic.edu.mx</a></p>
    </section>

    <footer>
        <p>&copy; 2024 Paul Alejandro Ochoa Meza. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
