body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5rem;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h2.name {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.title {
    color: #f3ec31;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.about-me {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skills, .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill, .project {
    width: 48%;
    margin-bottom: 1rem;
}


.work-experience {
    position: relative;
    padding-left: 20px;
}

.progress-line {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    z-index: -1;
}

.job-container {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.job {
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.job-container:not(:last-child) .job {
    margin-bottom: 20px;
}

.job-container::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    z-index: 1;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}